.App {
    width: 80%;
    max-width: 1200px;
    min-height: 100vh;
    margin: 6rem auto 0 auto;
}


.imputs {
    margin-bottom: 2rem;
}

input {
    padding: 0.5rem 1rem;
    width: 350px;
    margin-right: 1rem;
}

select {
    padding: 0.5rem 1rem;
    width: 250px;
}

input:active,
input:focus,
select:active,
select:focus,


.navbar{
    background-color: rgb(29, 43, 43);
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.navbar h1 {
    font-size: 80px;
}

.personajes-container {
    margin-bottom: 1rem;
    margin: 1rem;
    background-color: rgb(84, 38, 128);
    padding: 1rem;
    width: 24rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.personajes-img {
    display: grid;
    grid-template-columns: auto auto auto ; 

}

.card-container{
    display: flex;
    justify-content: center;
}

.filtro-busqueda{
    margin-top: 1rem;
}

.container {
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: auto auto auto;
}

.input-container {
    display: flex;
    justify-content: center;
}
